<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <culqi_pay>
                <active>0</active>
                <model>Culqi\Native\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Culqi</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>VI,MC,AE,DI</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </culqi_pay>
        </payment>
    </default>
</config>
